body, h1, h2, p {
    margin: 0;
    padding: 0;
    color:;
}
body {
    
    color: #D6AB70;
    

}
h1 {
    padding: 25px;
    color: #000;
    

}

header {
    height: 85px;
    background-color:#FEE9CC;
    font-size: 50px;
    font-style: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.article {
    max-width: 300px;   
    border-radius: 20px;
    overflow: hidden;
    background: #3e3e3e20;
    text-decoration: dashed;
    color: #000;
}
.content {
    padding: 10px;
}
img {
    width: 100%;
}